body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 4000px;
  width: 100%;
  height: 200px;
}

.counter{
  border: 1px solid;
  padding: 20px;
  font-size: 2rem;
  margin-inline: 10px;
}