body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.button{
  width: max-content;
  height: max-content;
  padding: 20px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: antiquewhite;
  overflow: hidden;
  position: relative;
}

.button .text{
  position: relative;
  z-index: 2;
}

.button::before{
  content: '';
  position: absolute;
  left: var(--posX);
  top: var(--posY);
  background-color: orange;
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
  border-radius: 40px;
}

.button:hover::before{
  width: 300px;
  height: 300px;
}